/* Estilos para la sección de registro */
.register-section {
    padding: 50px 0;
}

.register-container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #adb2fb;
    padding: 40px;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.register-container .form-group {
    margin-bottom: 20px;
}

.register-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.register-container .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:#adb2fb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-container button[type="submit"]:hover {
    background-color: #ffff66; 
}

.register-container p {
    margin-top: 20px;
    text-align: center;
}

.register-container p a {
    color: #631f83;
    text-decoration: none;
}

.register-container p a:hover {
    text-decoration: underline;
}
